@tailwind base;
@tailwind components;
@tailwind utilities;




/* Dark mode styles */
.dark-mode {
    background-color: #1a202c;
}
.dark-mode header {
    background-color: #2d3748;
}
.dark-mode aside {
    background-color: #1a202c;
    border-color: #4a5568;
}
.dark-mode aside > div {
    background-color: #374151;
    border-color: #4a5568;
}
.dark-mode aside h2,
.dark-mode aside li {
    color: #e2e8f0;
}
.dark-mode main {
    background-color: #1a202c;
}
.dark-mode .bg-white {
    background-color: #2d3748;
    border-color: #4a5568;
}
.dark-mode h3,
.dark-mode p {
    color: #e2e8f0;
}
